body
{
    margin: 0;
    width: 130px;
    height: 75px;
        font-family: verdana;
        font-weight: bold;
        font-size: small;
}
#gadgetContent
{
    margin-top: 20px;
    width: 130px;
    vertical-align: middle;
    text-align: center;
        overflow: hidden;
}
